{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <div id="register">
        <form action="{{ path('user_register') }}" method="post">
            <div class="container">
                <h2>Register</h2>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <p>Email</p>
                <input type="email" placeholder="Enter Email" name="user[email]" required>

                <p>Full Name</p>
                <input type="text" placeholder="Enter Full Name" name="user[fullName]" required>

                <p>Password</p>
                <input type="password" placeholder="Enter Password" name="user[password][first]" required>

                <p>Repeat Password</p>
                <input type="password" placeholder="Repeat Password" name="user[password][second]" required>
                <hr>

                <button type="submit" class="registerbtn">Register</button>
                <hr>
            </div>
            <div class="container signin">
                <p>Already have an account?
                    <a href="{{ path('security_login') }}">Sign in</a>.</p>
            </div>
                {{ form_row(form._token) }}
        </form>
    </div>

{% endblock %}