{% extends 'base.html.twig' %}

{% block main %}
    <div id="create-listing">
        <form enctype="multipart/form-data" action="{{ path('question_create', {id: post.id})}}" method="post">
            <div class="container">
                <h1>Ask question for this post</h1>
                <p>Please fill in this form to create a question.</p>
                <hr>

                <p>Title</p>
                <input type="text" placeholder="Enter Title" name="question[title]">

                <p>Content</p>
                <textarea name="question[content]" placeholder="Enter Content" rows="12"></textarea>

                {{ form_row(form._token) }}

                <hr>
                <button type="submit" class="registerbtn">Create Question</button>
            </div>
        </form>
    </div>
{% endblock %}