{% extends 'base.html.twig' %}

{% block main %}

    <div id="create-listing">
        <form action="{{ path('post_create') }}" method="post">
            <div class="container">
                <h1>Create Car Post</h1>
                <p>Please fill in this form to create an listing.</p>
                <hr>

                <p>Title</p>
                <input type="text" placeholder="Enter Title" name="post[title]">

                <p>Description</p>
                <input type="text" placeholder="Enter Description" name="post[description]">

                <p>Car Brand</p>
                <input type="text" placeholder="Enter Car Brand" name="post[brand]">

                <p>Car Model</p>
                <input type="text" placeholder="Enter Car Model" name="post[model]">

                <p>Car Year</p>
                <input type="number" placeholder="Enter Car Year" name="post[year]">

                <p>Car Image</p>
                <input type="text" placeholder="Enter Car Image" name="post[image]">

                <p>Car Fuel Type</p>
                <input type="text" placeholder="Enter Car Fuel Type" name="post[fuel]">

                <p>Car Price</p>
                <input type="number" placeholder="Enter Car Price" name="post[price]">

                {{ form_row(form._token) }}

                <hr>
                <button type="submit" class="registerbtn">Create Post</button>
            </div>
        </form>
    </div>

{% endblock %}